/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 2rem;
}
        
.project-card {
    background: var(--color-bg-dark);
    border-radius: 1.2rem;
    box-shadow: 0 4px 24px var(--main-shadow-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.18s;
    position: relative;
    cursor: pointer;
}
.project-card:hover {
    /* transform: translateY(-10px) scale(1.020) rotate(-1deg); */
    box-shadow: 0 1px 8px 0 var(--color-shadow-strong), 0 1px 1px 0 var(--color-shadow-strong);
}
.project-card:nth-child(odd):hover {
    transform: translateY(-10px) scale(1.020) rotate(-1deg);
}
.project-card:nth-child(even):hover {
    transform: translateY(-10px) scale(1.020) rotate(1deg);
}
.project-card::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(0deg, #c0d3e855 25%, transparent 100%);
    opacity: 0;
    transition: opacity 0.25s;
    z-index: 1;
    pointer-events: none;
    transition: transform 0.25s cubic-bezier(.4, 2, .6, 1), box-shadow 0.25s cubic-bezier(.4, 2, .6, 1);
}
.project-locked-project {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    margin-bottom: -3px;
}
.project-card > .project-locked-project > img, .project-card > .project-locked-project > video {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    /* filter: blur(16px) brightness(0.7); */
    transition: filter 0.3s;
    pointer-events: none;
    position: relative;
}
.project-card .project-locked-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-text-main);
    font-size: 1.1em;
    letter-spacing: 0.02em;
    background: linear-gradient(0, var(--color-bg-dark) 2%, var(--color-shadow) 50%, transparent 100%);
    z-index: 3;
    padding: 0 .8em;
    text-align: center;
    pointer-events: none;
    user-select: none;
    height: 101%;
}
.project-profile-info {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.project-profile-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 0 .8em;
    padding-top: .4rem;
    width: 100%;
}
.project-name {
    color: var(--color-text-main);
    font-weight: 600;
    font-size: 1em;
}
.project-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.3em;
}
.project-desc {
    padding: 0.4em .8em;
    text-align: left;
    width: 100%;
}
.gradient-icon-accent {
    font-size: 1.2em;
    background: linear-gradient(90deg, var(--color-1) 0%, var(--color-2) 50%, var(--color-3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media (max-width:800px) {
  .projects-grid {grid-template-columns: repeat(2, minmax(200px, 1fr));gap: 2rem;}
}
@media (max-width:600px) {
  .projects-grid {--p: 3.8rem;grid-template-columns: repeat(1, minmax(200px, 1fr));gap: 3rem; padding-left: var(--p);padding-right: var(--p);}
}
@media (max-width:550px) {
  .projects-grid {--p: 2rem}
}
@media (max-width:450px) {
  .projects-grid {--p: .5rem;}
}